@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
  --clr-cyan: hsl(158, 36%, 37%);
  --clr-hover-btn: hsl(158, 36%, 20%);
  --clr-cream: hsl(30, 38%, 92%);
  --clr-blue-dark: hsl(212, 21%, 14%);
  --clr-grayish-blue: hsl(228, 12%, 48%);
  --clr-white: hsl(0, 0%, 100%);

  --ff-main: 'Montserrat', sans-serif;
  --ff-accent: 'Fraunces', serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fz-main: .875rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--ff-main);
  font-weight: var(--fw-regular);
  font-size: var(--fz-main);

  background-color: var(--clr-cream);
  color: var(--clr-grayish-blue);
  line-height: 1.7;
}